#body {
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-top: 12px;

}

.logo a {
    text-decoration: inherit;
    color: inherit;
    white-space: nowrap;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__table {
    width: 200px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.nav__a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    width: auto;
}


.logout-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font: inherit;
    padding: 0;
    white-space: nowrap;
    width: auto;
}

